@import './vars/sizes';
@import './vars/fonts';

@mixin rounded-card-responsive {
	.rounded-card {
		border-radius: 15px !important;
		padding: 20px !important;
		height: auto !important;
	}
}

/* General for devices */
@media only screen and (max-device-width: $ipad-max-device-width) {

	home {
		.content-container {
			padding: $content-container-padding-media !important;
		}
	}

	.content-container-inner {
		flex-direction: column;
		height: 100%;
		justify-content: center;
		width: 100%;

		.article-text {
			flex: none !important;
			max-width: $bigger-rounded-card-size;
			padding-bottom: 20px;
			padding-right: 0 !important;
		}
	}

	.carousel-item-container {
		display: none !important;
	}

	#solutions {
		height: auto !important;
	}

	.carousel-text {
		width: 100% !important;
	}

	.content-container {
		height: auto !important;
	}

	.pdf-container img {
		width: 100% !important;
	}

	.responsive-carousel-item {
		&-container {
			display: flex !important;
			flex-direction: column;
			width: 100%;
		}

		&-image {
			width: 100%;

			&-container {
				display: flex;
				flex-direction: column-reverse;
			}
		}
	}

	about {
		height: auto !important;

		.content-container {
			height: auto !important;
			padding: calc(
				#{$top-panel-logo-height + 2 * $top-panel-logo-offset} + #{$content-container-padding-media}
			)
			$content-container-padding-media $content-container-padding-media !important;
		}

		rounded-card {
			height: auto !important;
			width: 100% !important;
		}
	}

	.parallax-container {
		display: none;
	}
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width: $ipad-min-device-width) and (max-device-width: $ipad-max-device-width) {
	.top-video-container {
		height: auto !important;
		max-height: $content-container-height;
		overflow: hidden;
	}

	.top-video-image {
		transform: scale(1.3);
	}

	home {
		rounded-card {
			height: auto !important;
			width: $bigger-rounded-card-size !important;
		}
	}

	.expanded-content-container {
		margin: 0 !important;
	}
}

@media only screen and (min-device-width: $ipad-min-device-width) and (max-device-width: $ipad-max-device-width) and (orientation: portrait) {
	html {
		font-size: 12px;
	}
}

@media only screen and (min-device-width: $ipad-min-device-width) and (max-device-width: $ipad-max-device-width) and (orientation: landscape) {
	html {
		font-size: 13px;
	}
}

/* Phones (portrait and landscape) */
@media only screen and (max-device-width: $ipad-min-device-width - 1) {
	html {
		font-size: 8px;
	}
}

@media only screen and (max-device-width: $ipad-min-device-width - 1) and (orientation: portrait) {
	@include rounded-card-responsive();

	.top-video-container {
		height: $content-container-height !important;
		overflow: hidden;
	}

	.top-video-text-container {
		$text-extra-offset: 5rem;

		box-sizing: border-box;
		font-size: 2rem;
		left: 0 !important;
		padding: 0 1rem;
		top: $top-panel-logo-height + $top-panel-logo-offset * 2 + $text-extra-offset !important;
		transform: unset !important;
		width: 100% !important;

		.top-video-text {
			font-size: 4rem !important;
			font-weight: 900 !important;
			line-height: 5.83rem !important;
			width: 100% !important;
		}
	}

	.top-video-image {
		min-width: unset !important;
	}

	home {
		.content-container:not(.without-padding) {
			height: auto !important;
			padding: $content-container-padding-media !important;
		}
	}

	rounded-card {
		height: auto !important;
		width: 100% !important;
	}

	.footer-contact-info {
		flex-direction: column;

		.footer-contact-info-item {
			padding: 1rem 0;
		}
	}
}

@media only screen and (max-device-width: $ipad-max-device-width - 1) and (orientation: landscape) {
	@include rounded-card-responsive();

	.top-video-container {
		max-height: unset !important;
	}

	.top-video-image {
		height: auto !important;
		width: 100%;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: $laptop-min-width) {
	html {
		font-size: 14px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: $large-screen-min-width) {
	html {
		font-size: 16px;
	}
}

/* Mixins for menu */
@media only screen and (max-device-width: $ipad-max-device-width) {
	.hidden-on-small-screen {
		display: none !important;
	}

	.hidden-on-large-screen {
		box-shadow: 0 10px 25px rgba(99, 99, 99, 0.5);
	}
}

@media only screen and (min-device-width: $ipad-max-device-width + 1px) {
	.hidden-on-large-screen {
		display: none !important;
	}

	.navigation-main-container,
	.expanded-content-container:not(.inline) .logo-link {
		box-shadow: 0 10px 25px rgba(99, 99, 99, 0.5);
	}
}
