$primary: #248dc1;
$sub-color-violet: #756cad;
$sub-color-blue: #248dc1;
$sub-color-blue-2: #6badd5;
$sub-color-orange: #f6893c;
$secondpartymedia-primary-dark-contrast: #636363;

$primary-text-color: $secondpartymedia-primary-dark-contrast;
